<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenPost</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Our Posts</h1>
        <a id="newPostButton" href="/new">New Post</a>
        <ul id="postsList">
            <% for(let i=0;i<posts.length;i++){ %>
                <li>
                    <h2><%=posts[i].title%></h2>
                    <span><%= posts[i].date %></span>
                    <p><%=posts[i].content%></p>
                    <span>By:<%= posts[i].author %></span>
                    <a class="edit" href="/edit/<%= posts[i].id %>">Edit</a>
                    <a class="delete" href="/api/posts/delete/<%= posts[i].id %>">Delete</a>
                </li>
                <% } %>
        </ul>
    </div>
    
</body>
</html>